<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spms.dbhsm.permission.mapper.DbhsmPermissionMapper">

    <resultMap type="com.spms.dbhsm.permission.domain.DbhsmPermission" id="DbhsmPermissionResult">
        <result property="permissionId"    column="permission_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="permissionName"    column="permission_name"    />
        <result property="permissionSql"    column="permission_sql"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectDbhsmPermissionVo">
        select permission_id, parent_id, permission_name, permission_sql, create_by, create_time, update_by, update_time from dbhsm_permission
    </sql>

    <select id="selectDbhsmPermissionList" parameterType="com.spms.dbhsm.permission.domain.DbhsmPermission" resultMap="DbhsmPermissionResult">
        <include refid="selectDbhsmPermissionVo"/>
        <where>
            <if test="permissionName != null  and permissionName != ''"> and permission_name like concat('%', #{permissionName}, '%')</if>
            <if test="permissionSql != null  and permissionSql != ''"> and permission_sql = #{permissionSql}</if>
        </where>
    </select>

    <select id="selectDbhsmPermissionByPermissionId" parameterType="Long" resultMap="DbhsmPermissionResult">
        <include refid="selectDbhsmPermissionVo"/>
        where permission_id = #{permissionId}
    </select>

    <select id="checkPermissionNameUnique" parameterType="String" resultMap="DbhsmPermissionResult">
        <include refid="selectDbhsmPermissionVo"/>
        <where>
            <if test="permissionName != null  and permissionName != ''"> and permission_name = #{permissionName}</if>
        </where>
    </select>

    <insert id="insertDbhsmPermission" parameterType="com.spms.dbhsm.permission.domain.DbhsmPermission" useGeneratedKeys="true" keyProperty="permissionId">
        insert into dbhsm_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="permissionName != null and permissionName != ''">permission_name,</if>
            <if test="permissionSql != null and permissionSql != ''">permission_sql,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="permissionName != null and permissionName != ''">#{permissionName},</if>
            <if test="permissionSql != null and permissionSql != ''">#{permissionSql},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateDbhsmPermission" parameterType="com.spms.dbhsm.permission.domain.DbhsmPermission">
        update dbhsm_permission
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="permissionName != null and permissionName != ''">permission_name = #{permissionName},</if>
            <if test="permissionSql != null and permissionSql != ''">permission_sql = #{permissionSql},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where permission_id = #{permissionId}
    </update>

    <delete id="deleteDbhsmPermissionByPermissionId" parameterType="Long">
        delete from dbhsm_permission where permission_id = #{permissionId}
    </delete>

    <delete id="deleteDbhsmPermissionByPermissionIds" parameterType="String">
        delete from dbhsm_permission where permission_id in
        <foreach item="permissionId" collection="array" open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </delete>

    <select id="selectDbhsmPermissionByPermissionIds" parameterType="String" resultMap="DbhsmPermissionResult">
        <include refid="selectDbhsmPermissionVo"/>
        where permission_id in
        <foreach item="permissionId" collection="array" open="(" separator="," close=")">
            #{permissionId}
        </foreach>
    </select>
    <select id="selectDbhsmPermissionListByGroupId" parameterType="Long" resultMap="DbhsmPermissionResult">
        select permission_sql from dbhsm_permission where permission_id in(
            select permission_id from dbhsm_permission_union_permission_group
            where permission_group_id =#{permissionGroupId})
    </select>

</mapper>
