<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spms.dbhsm.dbUser.mapper.DbhsmUserDbInstanceMapper">

    <resultMap type="com.spms.dbhsm.dbUser.domain.DbhsmUserDbInstance" id="DbhsmUserDbInstanceResult">
        <result property="userId"    column="user_id"    />
        <result property="instanceId"    column="instance_id"    />
    </resultMap>

    <sql id="selectDbhsmUserDbInstanceVo">
        select user_id, instance_id from dbhsm_user_db_instance
    </sql>

    <select id="selectDbhsmUserDbInstanceList" parameterType="com.spms.dbhsm.dbUser.domain.DbhsmUserDbInstance" resultMap="DbhsmUserDbInstanceResult">
        <include refid="selectDbhsmUserDbInstanceVo"/>
        <where>
        </where>
    </select>

    <select id="selectDbhsmUserDbInstanceByUserId" parameterType="Long" resultMap="DbhsmUserDbInstanceResult">
        <include refid="selectDbhsmUserDbInstanceVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertDbhsmUserDbInstance" parameterType="com.spms.dbhsm.dbUser.domain.DbhsmUserDbInstance">
        insert into dbhsm_user_db_instance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="instanceId != null">instance_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="instanceId != null">#{instanceId},</if>
         </trim>
    </insert>

    <update id="updateDbhsmUserDbInstance" parameterType="com.spms.dbhsm.dbUser.domain.DbhsmUserDbInstance">
        update dbhsm_user_db_instance
        <trim prefix="SET" suffixOverrides=",">
            <if test="instanceId != null">instance_id = #{instanceId},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteDbhsmUserDbInstanceByUserId" parameterType="Long">
        delete from dbhsm_user_db_instance where user_id = #{userId}
    </delete>

    <delete id="deleteDbhsmUserDbInstanceByUserIds" parameterType="String">
        delete from dbhsm_user_db_instance where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>
