<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spms.dbhsm.secretKey.mapper.DbhsmSecretKeyManageMapper">

    <resultMap type="com.spms.dbhsm.secretKey.domain.DbhsmSecretKeyManage" id="DbhsmSecretKeyManageResult">
        <result property="id"    column="id"    />
        <result property="secretKeyId"    column="secret_key_id"    />
        <result property="secretKeyIndex"    column="secret_key_index"    />
        <result property="secretKeyName"    column="secret_key_name"    />
        <result property="secretKeyType"    column="secret_key_type"    />
        <result property="secretKeyStatus"    column="secret_key_status"    />
        <result property="secretKeyAlgorithm"    column="secret_key_algorithm"    />
        <result property="secretKeySource"    column="secret_key_source"    />
        <result property="secretKeyServer"    column="secret_key_server"    />
        <result property="secretKey"    column="secret_key"    />
        <result property="secretKeyLength"    column="secret_key_length"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectDbhsmSecretKeyManageVo">
        select id, secret_key_id, secret_key_index, secret_key_name, secret_key_type, secret_key_status, secret_key_algorithm, secret_key_source, secret_key_server, secret_key, secret_key_length, create_time, create_by, update_time, update_by from dbhsm_secret_key_manage
    </sql>

    <select id="selectDbhsmSecretKeyManageList" parameterType="com.spms.dbhsm.secretKey.domain.DbhsmSecretKeyManage" resultMap="DbhsmSecretKeyManageResult">
        <include refid="selectDbhsmSecretKeyManageVo"/>
        <where>
            <if test="secretKeyId != null  and secretKeyId != ''"> and secret_key_id = #{secretKeyId}</if>
            <if test="secretKeyIndex != null "> and secret_key_index = #{secretKeyIndex}</if>
            <if test="secretKeyName != null  and secretKeyName != ''"> and secret_key_name like concat('%', #{secretKeyName}, '%')</if>
        </where>
    </select>

    <select id="selectDbhsmSecretKeyManageById" parameterType="Long" resultMap="DbhsmSecretKeyManageResult">
        <include refid="selectDbhsmSecretKeyManageVo"/>
        where id = #{id}
    </select>

    <select id="checkSecretKeyUnique" parameterType="String" resultMap="DbhsmSecretKeyManageResult">
        <include refid="selectDbhsmSecretKeyManageVo"/>
        <where>
            <if test="secretKeyName != null  and secretKeyName != ''"> and secret_key_name = #{secretKeyName}</if>
        </where>
    </select>

    <insert id="insertDbhsmSecretKeyManage" parameterType="com.spms.dbhsm.secretKey.domain.DbhsmSecretKeyManage" useGeneratedKeys="true" keyProperty="id">
        insert into dbhsm_secret_key_manage
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="secretKeyId != null and secretKeyId != ''">secret_key_id,</if>
            <if test="secretKeyIndex != null">secret_key_index,</if>
            <if test="secretKeyName != null and secretKeyName != ''">secret_key_name,</if>
            <if test="secretKeyType != null">secret_key_type,</if>
            <if test="secretKeyStatus != null">secret_key_status,</if>
            <if test="secretKeyAlgorithm != null">secret_key_algorithm,</if>
            <if test="secretKeySource != null">secret_key_source,</if>
            <if test="secretKeyServer != null">secret_key_server,</if>
            <if test="secretKey != null">secret_key,</if>
            <if test="secretKeyLength != null">secret_key_length,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="secretKeyId != null and secretKeyId != ''">#{secretKeyId},</if>
            <if test="secretKeyIndex != null">#{secretKeyIndex},</if>
            <if test="secretKeyName != null and secretKeyName != ''">#{secretKeyName},</if>
            <if test="secretKeyType != null">#{secretKeyType},</if>
            <if test="secretKeyStatus != null">#{secretKeyStatus},</if>
            <if test="secretKeyAlgorithm != null">#{secretKeyAlgorithm},</if>
            <if test="secretKeySource != null">#{secretKeySource},</if>
            <if test="secretKeyServer != null">#{secretKeyServer},</if>
            <if test="secretKey != null">#{secretKey},</if>
            <if test="secretKeyLength != null">#{secretKeyLength},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateDbhsmSecretKeyManage" parameterType="com.spms.dbhsm.secretKey.domain.DbhsmSecretKeyManage">
        update dbhsm_secret_key_manage
        <trim prefix="SET" suffixOverrides=",">
            <if test="secretKeyId != null and secretKeyId != ''">secret_key_id = #{secretKeyId},</if>
            <if test="secretKeyIndex != null">secret_key_index = #{secretKeyIndex},</if>
            <if test="secretKeyName != null and secretKeyName != ''">secret_key_name = #{secretKeyName},</if>
            <if test="secretKeyType != null">secret_key_type = #{secretKeyType},</if>
            <if test="secretKeyStatus != null">secret_key_status = #{secretKeyStatus},</if>
            <if test="secretKeyAlgorithm != null">secret_key_algorithm = #{secretKeyAlgorithm},</if>
            <if test="secretKeySource != null">secret_key_source = #{secretKeySource},</if>
            <if test="secretKeyServer != null">secret_key_server = #{secretKeyServer},</if>
            <if test="secretKey != null">secret_key = #{secretKey},</if>
            <if test="secretKeyLength != null">secret_key_length = #{secretKeyLength},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbhsmSecretKeyManageById" parameterType="Long">
        delete from dbhsm_secret_key_manage where id = #{id}
    </delete>

    <delete id="deleteDbhsmSecretKeyManageByIds" parameterType="String">
        delete from dbhsm_secret_key_manage where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>