<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spms.dbhsm.secretService.mapper.DbhsmSecretServiceMapper">

    <resultMap type="com.spms.dbhsm.secretService.domain.DbhsmSecretService" id="DbhsmSecretServiceResult">
        <result property="id"    column="id"    />
        <result property="secretService"    column="secret_service"    />
        <result property="serviceIp"    column="service_ip"    />
        <result property="servicePort"    column="service_port"    />
        <result property="serviceUrl"    column="service_url"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="secretKeyIndex"    column="secret_key_index"    />
        <result property="secretServiceType"    column="secret_service_type"    />
    </resultMap>

    <sql id="selectDbhsmSecretServiceVo">
        select id, secret_service, service_ip, service_port, service_url, status, create_time, create_by, update_time, update_by, user_name, password, secret_key_index,secret_service_type from dbhsm_secret_service
    </sql>

    <select id="selectDbhsmSecretServiceList" parameterType="com.spms.dbhsm.secretService.domain.DbhsmSecretService" resultMap="DbhsmSecretServiceResult">
        <include refid="selectDbhsmSecretServiceVo"/>
        <where>
            <if test="secretService != null  and secretService != ''"> and secret_service = #{secretService}</if>
            <if test="serviceIp != null  and serviceIp != ''"> and service_ip = #{serviceIp}</if>
            <if test="servicePort != null  and servicePort != ''"> and service_port = #{servicePort}</if>
            <if test="serviceUrl != null  and serviceUrl != ''"> and service_url = #{serviceUrl}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="secretKeyIndex != null "> and secret_key_index = #{secretKeyIndex}</if>
            <if test="secretServiceType != null "> and secret_service_type = #{secretServiceType}</if>
        </where>
    </select>

    <select id="selectDbhsmSecretServiceById" parameterType="Long" resultMap="DbhsmSecretServiceResult">
        <include refid="selectDbhsmSecretServiceVo"/>
        where id = #{id}
    </select>
    <select id="selectDbhsmSecretServiceBySecretService" parameterType="String" resultMap="DbhsmSecretServiceResult">
        <include refid="selectDbhsmSecretServiceVo"/>
        where secret_service = #{secretService}
    </select>

    <insert id="insertDbhsmSecretService" parameterType="com.spms.dbhsm.secretService.domain.DbhsmSecretService" useGeneratedKeys="true" keyProperty="id">
        insert into dbhsm_secret_service
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="secretService != null and secretService != ''">secret_service,</if>
            <if test="serviceIp != null and serviceIp != ''">service_ip,</if>
            <if test="servicePort != null">service_port,</if>
            <if test="serviceUrl != null">service_url,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="userName != null">user_name,</if>
            <if test="password != null">password,</if>
            <if test="secretKeyIndex != null">secret_key_index,</if>
            <if test="secretServiceType != null">secret_service_type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="secretService != null and secretService != ''">#{secretService},</if>
            <if test="serviceIp != null and serviceIp != ''">#{serviceIp},</if>
            <if test="servicePort != null">#{servicePort},</if>
            <if test="serviceUrl != null">#{serviceUrl},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="userName != null">#{userName},</if>
            <if test="password != null">#{password},</if>
            <if test="secretKeyIndex != null">#{secretKeyIndex},</if>
            <if test="secretServiceType != null">#{secretServiceType},</if>
         </trim>
    </insert>

    <update id="updateDbhsmSecretService" parameterType="com.spms.dbhsm.secretService.domain.DbhsmSecretService">
        update dbhsm_secret_service
        <trim prefix="SET" suffixOverrides=",">
            <if test="secretService != null and secretService != ''">secret_service = #{secretService},</if>
            <if test="serviceIp != null and serviceIp != ''">service_ip = #{serviceIp},</if>
            <if test="servicePort != null">service_port = #{servicePort},</if>
            <if test="serviceUrl != null">service_url = #{serviceUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="secretKeyIndex != null">secret_key_index = #{secretKeyIndex},</if>
            <if test="secretServiceType != null">secret_service_type = #{secretServiceType},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDbhsmSecretServiceById" parameterType="Long">
        delete from dbhsm_secret_service where id = #{id}
    </delete>

    <delete id="deleteDbhsmSecretServiceByIds" parameterType="String">
        delete from dbhsm_secret_service where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
